@*

*@
@{
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/bootstrap.css">
<link rel="stylesheet" href="~/vendors/linericon/style.css">
<link rel="stylesheet" href="~/css/font-awesome.min.css">
<link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="~/vendors/lightbox/simpleLightbox.css">
<link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css">
<link rel="stylesheet" href="~/vendors/animate-css/animate.css">
<link rel="stylesheet" href="~/vendors/popup/magnific-popup.css">
<link rel="stylesheet" href="~/vendors/flaticon/flaticon.css">
<!-- main css -->
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/responsive.css">
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Services</h2>
                    <div class="page_link">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-controller="Home" asp-action="Services">Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Feature Area =================-->
<section class="feature_area white_feature p_120">
    <div class="container">
        <div class="main_title">
            <h2>Offerings to my clients</h2>
            <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        </div>
        <div class="feature_inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="flaticon-city"></i>
                    <h4>ASP Website</h4>
                    <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="flaticon-skyline"></i>
                    <h4>Windows apps </h4>
                    <p>If you want small apps build with winforms. You may see some for as low as $17 each.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="flaticon-sketch"></i>
                    <h4>Console Apps </h4>
                    <p>If you want some automation tools for servers. You may see some for as low as $17 each.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/stellar.js"></script>
<script src="~/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="~/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="~/vendors/isotope/isotope.pkgd.min.js"></script>
<script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="~/vendors/popup/jquery.magnific-popup.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="~/vendors/counter-up/jquery.counterup.min.js"></script>
<script src="~/js/mail-script.js"></script>
<script src="~/js/theme.js"></script>